<h1>Uptime Monitoring</h1>
<h1>Made Simple</h1>


<div class="blurb">
    We offer free, simple uptime monitoring for HTTP/HTTPS sites of all kinds.When your site goes down, we'll send you a text to let you know
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat dolorum nihil fugit laboriosam earum illo facere sunt totam vero debitis.
</div>

<div class="ctaWrapper">
    <a class="cta green" href="account/create">Get Started</a>
    <a class="cta blue" href="session/create">Login</a>
</div>